<IfModule mod_rewrite.c>
   RewriteEngine on

   RewriteCond %{HTTP_HOST} ^totalcontrole.com.br [NC]
   RewriteRule ^(.*)$ http://www.totalcontrole.com.br/$1 [L,R=301,NC]

   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
